demo/demo.yaml
id: demo
namespace: zoomcamp
description: |
  data used here comes from: https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page

variables:
  source_file: "green_tripdata_2020-01.parquet"
  csv_file: "green_tripdata_2020-01.csv"
  gcs_file: "gs://{{kv('GCP_BUCKET_NAME')}}/{{vars.csv_file}}"
  data: "{{outputs.convert_parquet_to_csv.outputFiles[vars.csv_file]}}"

tasks:
  - id: wdir
    type: io.kestra.plugin.core.flow.WorkingDirectory
    tasks:
      - id: clone
        type: io.kestra.plugin.git.Clone
        url: https://github.com/zalexdevon/4_dbt.git

      - id: extract
        type: io.kestra.plugin.scripts.shell.Commands
        taskRunner:
          type: io.kestra.plugin.core.runner.Process
        commands:
          - wget -q -O {{render(vars.source_file)}} https://d37ci6vzurychx.cloudfront.net/trip-data/{{render(vars.source_file)}}

      - id: convert_parquet_to_csv
        type: io.kestra.plugin.scripts.python.Commands
        beforeCommands:
          - pip install pandas pyarrow
        outputFiles:
          - "*.csv"
        commands:
          - python demo/demo.py {{ vars.source_file }} {{ vars.csv_file }}

      - id: upload_to_gcs
        type: io.kestra.plugin.gcp.gcs.Upload
        from: "{{render(vars.data)}}"
        to: "{{render(vars.gcs_file)}}"

      - id: read_sql
        type: io.kestra.plugin.scripts.python.Commands
        taskRunner:
          type: io.kestra.plugin.core.runner.Process
        commands:
          - python demo/read_sql.py

      - id: create_schema
        type: io.kestra.plugin.gcp.bigquery.Query
        sql: "{{ outputs.read_sql.stdout }}"

      - id: purge_files
        type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles
        description: To avoid cluttering your storage, we will remove the downloaded files

pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{kv('GCP_CREDS')}}"
      projectId: "{{kv('GCP_PROJECT_ID')}}"
      location: "{{kv('GCP_LOCATION')}}"
      bucket: "{{kv('GCP_BUCKET_NAME')}}"
