demo/demo.yaml
id: demo
namespace: zoomcamp
description: |
  data used here comes from: https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page

tasks:
  - id: wdir
    type: io.kestra.plugin.core.flow.WorkingDirectory
    tasks:
      - id: clone
        type: io.kestra.plugin.git.Clone
        url: https://github.com/zalexdevon/4_dbt.git

      - id: extract
        type: io.kestra.plugin.scripts.shell.Commands
        taskRunner:
          type: io.kestra.plugin.core.runner.Process
        commands:
          - wget -q -O green_tripdata_2020-01.parquet https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2020-01.parquet

      - id: convert_parquet_to_csv
        type: io.kestra.plugin.scripts.python.Commands
        beforeCommands:
          - pip install pandas pyarrow
        outputFiles:
          - "*.csv"
        commands:
          - python demo/demo.py

      - id: upload_to_gcs
        type: io.kestra.plugin.gcp.gcs.Upload
        from: "{{outputs.extract.outputFiles['green_tripdata_2020-01.csv']}}"
        to: "gs://{{kv('GCP_BUCKET_NAME')}}/green_tripdata_2020-01.csv"

pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{kv('GCP_CREDS')}}"
      projectId: "{{kv('GCP_PROJECT_ID')}}"
      location: "{{kv('GCP_LOCATION')}}"
      bucket: "{{kv('GCP_BUCKET_NAME')}}"
